<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
>
<head th:replace="fragments/header :: page_header(pageTitle='Войти в систему')">
</head>
<body>
<div class="d-flex justify-content-center align-items-center">
  <div class="container w-50 p-3">
    <div th:if="${param.error}" class="alert alert-danger" role="alert">
      Неправильный логин или пароль
    </div>
    <div th:if="${param.logout}" class="alert alert-info" role="alert">
      Вы вышли из своего аккаунта
    </div>
  <form th:action="@{/login}" method="post">
    <div class="mb-3">
      <label for="username" class="form-label">Логин</label>
      <input type="text" class="form-control" id="username" name="username" aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text">Ваш логин выдается при регистрации. В случае утери обратитесь к администратору</div>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Пароль</label>
      <input type="password" class="form-control" id="password" name="password" aria-describedby="passwordHelp">
      <div id="passwordHelp" class="form-text">Ваш пароль выдается при регистрации. В случае утери обратитесь к администратору</div>
    </div>
    <button type="submit" class="btn btn-primary">Войти в систему</button>
  </form>
  </div>
</div>
</body>
</html>