<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
>
<head th:replace="fragments/header :: page_header(pageTitle='Добавить сотрудника')">
</head>
<body>
<div class="container">
  <header th:replace="fragments/nav-header :: nav_header"></header>
  <div class="d-flex justify-content-center align-items-center">
    <div class="container w-50 p-3">
      <h2>Зарегистрировать нового сотрудника</h2>
      <form action="#" th:action="@{/registration}" th:object="${user}" method="post">
        <p>Поля, помеченные * обязательны для заполнения</p>
        <div class="mb-3">
          <label for="firstname" class="form-label">Имя *</label>
          <input type="text" class="form-control" th:field="*{firstname}" id="firstname" placeholder="Имя">
          <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}"></div>

          <label for="lastname" class="form-label">Фамилия *</label>
          <input type="text" class="form-control" th:field="*{lastname}" id="lastname" placeholder="Фамилия">
          <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}"></div>

          <label for="middlename" class="form-label">Отчество</label>
          <input type="text" class="form-control"  th:field="*{middlename}" id="middlename" placeholder="Отчество">
          <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('middlename')}" th:errors="*{middlename}"></div>

          <label for="jobTitle" class="form-label">Должность</label>
          <input type="text" class="form-control"  th:field="*{jobTitle}" id="jobTitle" placeholder="Должность">
          <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('jobTitle')}" th:errors="*{jobTitle}"></div>

          <label for="department" class="form-label">Отдел</label>
          <select class="form-select" th:field="*{department}" id="department">
            <option th:value="null" th:text="Отсутствует" selected></option>
            <option th:each="department : ${departments}" th:value="${department.id}" th:text="${department.name}"></option>
          </select>

          <label for="username" class="form-label">Логин *</label>
          <input type="text" class="form-control"  th:field="*{username}" id="username" placeholder="Логин">
          <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>

          <label for="password" class="form-label">Пароль *</label>
          <input type="text" class="form-control"  th:field="*{password}" id="password" placeholder="Пароль">
          <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
        </div>
        <button type="submit" class="btn btn-primary">Добавить сотрудника</button>
      </form>
    </div>
  </div>
</div>
</body>
</html>