<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/header :: page_header(pageTitle='Редактировать отдел')">
</head>
<body>
    <div class="container">
        <header th:replace="fragments/nav-header :: nav_header"></header>
        <div class="d-flex justify-content-center align-items-center">
            <div class="container w-50 p-3">
                <h2>Редактировать отдел</h2>
                <form action="#" th:action="@{/admin/departments/{id}(id=${department.id})}" th:object="${department}" method="post">
                    <p>Поля, помеченные * обязательны для заполнения</p>
                    <div class="mb-3">
                        <label for="name" class="form-label">Название отдела *</label>
                        <input type="text" class="form-control" th:field="*{name}" id="name" placeholder="Название отдела">
                        <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
                        <label for="manager_id" class="form-label">Начальник отдела *</label>
                        <select class="form-select" th:field="*{managerId}" id="manager_id">
                            <option th:each="user : ${users}" th:value="${user.id}" th:text="${user.lastname + ' ' + user.firstname} + ' ' + ${#strings.isEmpty(user.jobTitle) ? '' : ' (' + user.jobTitle + ')'}"></option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Сохранить данные</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>