<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/header :: page_header(pageTitle='Добавить обязанность')">
</head>
<body>
    <div class="container">
        <header th:replace="fragments/nav-header :: nav_header"></header>
        <div class="d-flex justify-content-center align-items-center">
            <div class="container w-50 p-3">
                <h2>Добавить новую обязанность</h2>
                <form action="#" th:action="@{/add-responsibility}" th:object="${responsibility}" method="post">
                    <p>Поля, помеченные * обязательны для заполнения</p>
                    <div class="mb-3">
                        <label for="user_id" class="form-label">Исполнитель</label>
                        <select class="form-select" th:field="*{user.id}" id="user_id">
                            <option th:each="user : ${users}" th:value="${user.id}" th:text="${user.lastname + ' ' + user.firstname} + ' ' + ${#strings.isEmpty(user.jobTitle) ? '' : ' (' + user.jobTitle + ')'}"></option>
                        </select>
                        <label for="deputy_id" class="form-label">Заместитель</label>
                        <select class="form-select" th:field="*{deputy}" id="deputy_id">
                            <option th:value="null">Отсутствует</option>
                            <option th:each="user : ${users}" th:value="${user.id}" th:text="${user.lastname + ' ' + user.firstname}"></option>
                        </select>
                        <label for="link" class="form-label">Ссылка</label>
                        <input type="text" class="form-control" th:field="*{link}" id="link" placeholder="Ссылка">
                        <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('link')}" th:errors="*{link}"></div>
                        <label for="description" class="form-label">Описание *</label>
                        <input type="text" class="form-control" th:field="*{description}" id="description" placeholder="Описание">
                        <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>
                    </div>
                    <button type="submit" class="btn btn-primary">Добавить обязанность</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>