<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments/header :: page_header(pageTitle='Добавить сотрудника')">
</head>
<body>
    <form action="#" th:action="@{/adduser}" th:object="${user}" method="post">
        <label for="name">Имя *</label>
        <input type="text" th:field="*{name}" id="name" placeholder="Имя">
        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
        <label for="surname">Фамилия *</label>
        <input type="text" th:field="*{surname}" id="surname" placeholder="Фамилия">
        <span th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}"></span>
        <label for="middleName">Отчество</label>
        <input type="text" th:field="*{middleName}" id="middleName" placeholder="Отчество">
        <span th:if="${#fields.hasErrors('middleName')}" th:errors="*{middleName}"></span>
        <label for="username">Логин</label>
        <input type="text" th:field="*{username}" id="username" placeholder="Логин">
        <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
        <label for="password">Логин</label>
        <input type="text" th:field="*{password}" id="password" placeholder="Пароль">
        <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
        <input type="checkbox" th:field="*{active}" id="active" checked="checked">

        <input type="submit" value="Добавить сотрудника">
    </form>
</body>
</html>