<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/header :: page_header(pageTitle='Список сотрудников')">
</head>
<body>
    <div class="container">
        <header th:replace="fragments/nav-header :: nav_header"></header>

        <div th:switch="${users}">
            <h2 th:case="null">Пока нет ни одного сотрудника!</h2>
            <div th:case="*" class="table-responsive">
                <table class="table caption-top">
                    <caption>Сотрудники</caption>
                    <thead>
                    <tr>
                        <th>Фамилия</th>
                        <th>Имя</th>
                        <th>Отчество</th>
                        <th>Включен</th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="user : ${users}">
                        <td th:text="${user.lastname}"></td>
                        <td th:text="${user.firstname}"></td>
                        <td th:text="${user.middlename}"></td>
                        <td th:text="${user.active} ? 'Да' : 'Нет'"></td>
                        <td><a th:href="@{/users/{id}(id=${user.id})}">Редактировать</a></td>
                        <td><a th:href="@{/disable/{id}(id=${user.id})}">Заблокировать</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <p><a href="/registration">Зарегистрировать нового сотрудника</a></p>
        </div>

        <div th:switch="${responsibilities}">
            <h2 th:case="null">Пока нет ни одной обязанности!</h2>
            <div th:case="*" class="table-responsive">
                <table class="table caption-top">
                    <caption>Обязанности</caption>
                    <thead>
                    <tr>
                        <th>Исполнитель</th>
                        <th>Заместитель</th>
                        <th>Ссылка</th>
                        <th>Описание</th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="responsibility : ${responsibilities}">
                        <td th:text="${responsibility.user.lastname  + ' ' + responsibility.user.firstname + ' ' + responsibility.user.middlename}"></td>
                        <td th:text="${responsibility.deputy ne null} ? ${responsibility.deputy.lastname  + ' ' + responsibility.deputy.firstname + ' ' + responsibility.deputy.middlename} : 'Отсутствует'"></td>
                        <td th:text="${responsibility.link}"></td>
                        <td th:text="${responsibility.description}"></td>
                        <td><a th:href="@{/edit-responsibility/{id}(id=${responsibility.id})}">Редактировать</a></td>
                        <td><a th:href="@{/delete-responsibility/{id}(id=${responsibility.id})}">Удалить</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <p><a href="/add-responsibility">Добавить новую обязанность</a></p>
        </div>
    </div>
</body>
</html>