<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments/header :: page_header(pageTitle='Редактировать данные сотрудника')">
</head>
<body>
<div class="d-flex justify-content-center align-items-center">
  <div class="container w-50 p-3">
    <h2>Редактирование сотрудника</h2>
    <form action="#" th:action="@{/users/{id}(id=${user.id})}" th:object="${user}" method="post">
      <div class="mb3">
        <p>Поля, помеченные * обязательны для заполнения</p>
        <label for="firstname" class="form-label">Имя *</label>
        <input type="text" class="form-control" th:field="*{firstname}" id="firstname" placeholder="Имя">
        <span th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}"></span>

        <label for="lastname" class="form-label">Фамилия *</label>
        <input type="text" class="form-control" th:field="*{lastname}" id="lastname" placeholder="Фамилия">
        <span th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}"></span>

        <label for="middlename" class="form-label">Отчество</label>
        <input type="text" class="form-control" th:field="*{middlename}" id="middlename" placeholder="Отчество">
        <span th:if="${#fields.hasErrors('middlename')}" th:errors="*{middlename}"></span>

        <label for="username" class="form-label">Логин *</label>
        <input type="text" class="form-control" th:field="*{username}" id="username" placeholder="Логин">
        <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>

        <label for="password" class="form-label">Пароль *</label>
        <input type="text" class="form-control" th:field="*{password}" id="password" placeholder="Пароль">
        <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>

        <label for="active" class="form-label">Активирован?</label>
        <input type="checkbox" class="form-check-input" th:field="*{active}" id="active">
        <span th:if="${#fields.hasErrors('active')}" th:errors="*{active}"></span>
      </div>
      <button type="submit" class="btn btn-primary">Обновить данные</button>
    </form>
  </div>
</div>
</body>
</html>