<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/header :: page_header(pageTitle='Мои обязанности')">
</head>
<body>
    <div class="container">
        <header th:replace="fragments/nav-header :: nav_header"></header>
        <div sec:authorize="hasRole('ADMIN')">
            <h2>Администратор не имеет обязанностей</h2>
            <h3>Эта страница для обязанностей сотрудников. Вернитесь в <a href="/admin">админ-панель</a></h3>
        </div>
        <div sec:authorize="isAuthenticated()">
            <div sec:authorize="!hasRole('ADMIN')" th:switch="${myResponsibility}">
                <h2 th:case="null">Список обязанностей пуст</h2>
                <div th:case="*" class="table-responsive">
                    <table class="table caption-top">
                        <caption>Мои обязанности</caption>
                        <thead>
                        <tr>
                            <th>Исполнитель</th>
                            <th>Заместитель</th>
                            <th>Ссылка</th>
                            <th>Описание</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="responsibility : ${myResponsibility}">
                            <td th:text="${responsibility.user.lastname  + ' ' + responsibility.user.firstname + ' ' + responsibility.user.middlename}"></td>
                            <td th:text="${responsibility.deputy ne null} ? ${responsibility.deputy.lastname  + ' ' + responsibility.deputy.firstname + ' ' + responsibility.deputy.middlename} : 'Отсутствует'"></td>
                            <td th:text="${responsibility.link}"></td>
                            <td th:text="${responsibility.description}"></td>
                            <td><a th:href="@{/edit-responsibility/{id}(id=${responsibility.id})}">Редактировать</a></td>
                        </tr>
                        </tbody>
                    </table>
                    <p><a href="/add-responsibility">Добавить новую обязанность</a></p>
                </div>
            </div>
        </div>

        <div sec:authorize="isAuthenticated()">
            <div sec:authorize="!hasRole('ADMIN')" th:unless="${#lists.isEmpty(deputyResponsibility)}">
                <div class="table-responsive">
                    <table class="table caption-top">
                        <caption>Мои обязанности как заместителя</caption>
                        <thead>
                        <tr>
                            <th>Исполнитель</th>
                            <th>Должность</th>
                            <th>Заместитель</th>
                            <th>Ссылка</th>
                            <th>Описание</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="responsibility : ${deputyResponsibility}">
                            <td th:text="${responsibility.user.lastname  + ' ' + responsibility.user.firstname + ' ' + responsibility.user.middlename}"></td>
                            <td th:text="${responsibility.user.jobTitle ne null} ? ${responsibility.user.jobTitle} : 'Нет'"></td>
                            <td th:text="${responsibility.deputy ne null} ? ${responsibility.deputy.lastname  + ' ' + responsibility.deputy.firstname + ' ' + responsibility.deputy.middlename} : 'Отсутствует'"></td>
                            <td th:text="${responsibility.link}"></td>
                            <td th:text="${responsibility.description}"></td>
                            <td><a th:href="@{/edit-responsibility/{id}(id=${responsibility.id})}">Редактировать</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>