<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Изменить обязанность</title>
</head>
<body>
<form action="#"
      th:action="@{/update-responsibility/{id}(id=${responsibility.id})}"
      th:object="${responsibility}"
      method="post">
    <label for="user_id">Владелец</label>
    <select th:field="*{user.id}" id="user_id">
        <option th:each="user : ${users}" th:value="${user.id}" th:text="${user.surname + ' ' + user.name}"></option>
    </select>
    <label for="deputyId">Заместитель</label>
    <select th:field="*{deputyId}" id="deputyId">
        <option th:each="user : ${users}" th:value="${user.id}" th:text="${user.surname + ' ' + user.name}"></option>
    </select>
    <label for="link">Ссылка *</label>
    <input type="text" th:field="*{link}" id="link" placeholder="Ссылка">
    <span th:if="${#fields.hasErrors('link')}" th:errors="*{link}"></span>
    <label for="description">Описание</label>
    <input type="text" th:field="*{description}" id="description" placeholder="Описание">
    <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>

    <input type="submit" value="Сохранить информацию">
</form>
</body>
</html>