<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/header :: page_header(pageTitle='Изменить обязанность')">
</head>
<body>
    <div class="container">
        <header th:replace="fragments/nav-header :: nav_header"></header>
        <div class="d-flex justify-content-center align-items-center">
            <div class="container w-50 p-3">
                <h2>Редактировать обязанность</h2>
                <form action="#"
                      th:action="@{/update-responsibility/{id}(id=${responsibility.id})}"
                      th:object="${responsibility}"
                      method="post">
                    <div class="mb-3">
                        <label for="user_id" class="form-label">Исполнитель (должность)</label>
                        <select class="form-select" th:field="*{user.id}" id="user_id">
                            <option th:each="user : ${users}" th:value="${user.id}" th:text="${user.lastname + ' ' + user.firstname} + ' ' + ${#strings.isEmpty(user.jobTitle) ? '' : ' (' + user.jobTitle + ')'}"></option>
                        </select>
                        <label for="deputyId" class="form-label">Заместитель</label>
                        <select class="form-select" th:field="*{deputy}" id="deputyId">
                            <option th:value="null">Отсутствует</option>
                            <option th:each="user : ${users}" th:value="${user.id}" th:text="${user.lastname + ' ' + user.firstname}"></option>
                        </select>
                        <label for="from_user" class="form-label">От кого (для выбора нескольких значений зажмите Ctrl)</label>
                        <select class="form-control selectpicker" th:field="*{fromUser}" id="from_user" multiple>

                            <option th:each="user : ${users}"
                                    th:value="${user.id}"
                                    th:text="${user.lastname + ' ' + user.firstname}">dip
                            </option>

                        </select>

                        <label for="to_user" class="form-label">Для кого (для выбора нескольких значений зажмите Ctrl)</label>
                        <select class="form-control selectpicker" th:field="*{toUser}" id="to_user" multiple>

                            <option th:each="user : ${users}"
                                    th:value="${user.id}"
                                    th:text="${user.lastname + ' ' + user.firstname}">dip
                            </option>

                        </select>
                        <label for="link" class="form-label">Ссылка</label>
                        <input type="text" class="form-control" th:field="*{link}" id="link" placeholder="Ссылка">
                        <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('link')}" th:errors="*{link}"></div>
                        <label for="description" class="form-label">Описание *</label>
                        <input type="text" class="form-control" th:field="*{description}" id="description" placeholder="Описание">
                        <div class="invalid-feedback d-block" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>
                    </div>
                    <button type="submit" class="btn btn-primary"><i class="fa fa-floppy-o" aria-hidden="true"></i> Сохранить информацию</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>