<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/header :: page_header(pageTitle='Изменить данные сотрудника')">
</head>
<body>
<form th:action="@{/update/{id}(id=${user.id})}" th:object="${user}" method="post">
    <div><label> Логин: <input type="text" disabled th:field="*{username}" value="*{username}" name="username"/> </label></div>
    <div><label> Пароль: <input type="text" disabled th:field="*{password}" value="*{password}" name="password"/> </label></div>

    <div><label> Имя: <input type="text" th:field="*{firstname}" name="firstname" /> </label></div>
    <div><label> Фамилия: <input type="text" th:field="*{lastname}" name="lastname"/> </label></div>
    <div><label> Отчество: <input type="text" th:field="*{middlename}" name="middlename"/> </label></div>
    <div><label> Активен: <input type="checkbox" th:field="*{active}" name="active"/> </label></div>

    <div><input type="submit" value="Сохранить информацию"/></div>
</form>
</body>
</html>